<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>paginareceta</title>
</head>

    <div> 

     <H1>Receta</H1>
     <p>supera a cualquier otra pasta. Para prepararlo, los ingredientes básicos son:<p>
        <ol>
            <li> 3 dientes de ajo</li>
            <li>2 cebollas</li>
            <li>1/2 pimiento morrón</li>
            <li>Un trozo de carne (roast beef es ideal)</li>
            <li>1 zanahoria pequeña</li>
            <li>Puré y tomates cubeteados</li>
            <li>Caldo de verduras, sal, pimienta y condimentos a gusto</li>
            <li>Elemento 3</li>
            <li>Elemento 4</li>
            <li>Elemento 5</li>
        </ol> 
        <p1>El procedimiento implica sellar la carne en una olla, reservarla y luego dorar las verduras.
        A esto se le añaden los tomates y la carne, se condimenta y se cocina a fuego lento por alrededor de una hora.
        El toque de zanahoria ayuda a balancear la acidez del tomate, y el resultado es una salsa espesa y sabrosa que complementa de manera ideal los fideos caseros</p1>
    
    
        
        <H1>
        <a href="C:\Users\galva\OneDrive\Escritorio\visual code\PotreroDig\index.html">Inicio</a></H1>
        <a href="https://www.diarioconvos.com/2024/08/20/como-hacer-fideos-caseros-paulina-cocina-compartio-la-receta-definitiva/?gad_source=1&gclid=Cj0KCQjwgL-3BhDnARIsAL6KZ696GL6fPrvGNwnKf3s8o_PKeMdO26ag0koAG9jwML2T5pm4QniZu2YaAm_UEALw_wcB">ENLACE</a>
    </div>

</body>
</html>